<div>

    <h2>Bikes</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button type="submit" ui-sref="bikeEdit()" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;<span> Create a new bike</span>
                </button>
            </div>
        </div>
    </div>

    <div ng-include="'scripts/app/entities/bike/bike-modal.html'"></div>
    <div ng-include="'scripts/app/entities/bike/bike-delete.html'"></div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Location</th>
                    <th>Kms</th>
                    <th>Owners</th>
                    <th>Price</th>
                    <th>Purchase Price</th>
                    <th>Score</th>
                    <th>Reserved</th>
                    <th>Sold</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="bike in bikes">
                    <td>{{bike.brand}} {{bike.name}} {{bike.engineCapacity}}cc</td>
                    <td>{{bike.yearOfManufacture}}</td>
                    <td>{{bike.location}}</td>
                    <td>{{bike.kms}}</td>
                    <td>{{bike.owners}}</td>
                    <td>{{bike.price}}</td>
                    <td>{{bike.purchasePrice}}</td>
                    <td>{{bike.score}}</td>
                    <td>{{bike.reserved}}</td>
                    <td>{{bike.sold}}</td>
                    <td>
                        <button type="submit"
                                ng-click="view(bike.id)"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="bikeEdit({id:bike.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(bike.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
