<script type="text/ng-template" id="model-modal.html">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="cancel()">&times;</button>
            <h4 class="modal-title" id="myModelLabel">Create or edit a Model</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="id"
                       ng-model="model.id" readonly>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name"
                       ng-model="model.name" required>

                <div ng-show="editForm.name.$invalid">
                    <p class="help-block"
                       ng-show="editForm.name.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Engine Capacity</label>
                <input type="number" class="form-control" name="engineCapacity"
                       ng-model="model.engineCapacity" required>

                <div ng-show="editForm.engineCapacity.$invalid">
                    <p class="help-block"
                       ng-show="editForm.engineCapacity.$error.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.engineCapacity.$error.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Brand</label>
                <input type="text" class="form-control" typeahead="brand as brand.name for brand in getBrands($viewValue) | filter:$viewValue | limitTo:5" name="brand" ng-model="model.brand" required>

                <div ng-show="editForm.brand.$invalid">
                    <p class="help-block"
                       ng-show="editForm.brand.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label>Body</label>
                <select type="text" class="form-control" ng-options="body as body.type for body in bodies" name="body" ng-model="model.body" required></select>

                <div ng-show="editForm.body.$invalid">
                    <p class="help-block"
                       ng-show="editForm.body.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
            </button>
        </div>
    </form>
</script>
