<div>

    <h2>Models</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="open()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Model</span>
                </button>
            </div>
        </div>
    </div>
    
    <div ng-include="'scripts/app/entities/model/model-modal.html'"></div>
    <div ng-include="'scripts/app/entities/model/model-delete.html'"></div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Engine Capacity</th>
                    <th>Body</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in models">
                    <td>{{model.brandName}} {{model.name}}</td>
                    <td>{{model.engineCapacity}}</td>
                    <td>{{model.body.type}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="modelDetail({id:model.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ng-click="edit(model.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(model.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
