<div>

    <h2>Brands</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="open()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Brand</span>
                </button>
            </div>
        </div>
    </div>

    <div ng-include="'scripts/app/entities/brand/brand-modal.html'"></div>
    <div ng-include="'scripts/app/entities/brand/brand-delete.html'"></div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brand in brands">
                    <td><a ui-sref="brandDetail({id:brand.id})">{{brand.id}}</a></td>
                    <td>{{brand.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="brandDetail({id:brand.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ng-click="edit(brand.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(brand.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
